*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
.icon{
	background-size: contain;
	height: 72px;
	width: 72px;
	margin-left: auto;
	margin-right: auto;
}
.getter-logo{
	height: 120px;
	width: 120px;
}
.page{
	margin-top: 28px;
}
header {
	width: 100%;
	height: 100px;
	background-color: #30BB6A;
}
.top-header{
	width: 100%;
}
.flx-justify{
	display: flex;
	justify-content: space-around;
}
.flx-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.label{
	position: relative;
	background-color: #30BB6A;
	border-radius: 4px;
	border: 2px solid #333;
}
.front-label{
margin: 0 14px 28px 14px;
width: 300px;
height: 300px;

} .front-label p {
	font-size: 2rem;
	text-align: center;
} .front-label-icon {
	height: 164px;
	width: 164px;
}
.ui-widget-header {
   border: 0px;
   background: none;
}
#profile-tabs{
	text-align: left;
}
.grid-labels{
	margin: 12px;
	text-align: center;
	height: 128px;
	width: 128px;
	padding: 12px;
} .grid-labels p {
	font-weight: 800;
}
.redbutton{
color: white;
		background-color: #bb3a30;
	border: 1px solid #6e0d06;
}.redbutton:hover,.redbutton:active{
	background-color: #6e0d06;
	color: white;
	border: 1px solid #bb3a30;
}
.new-post-row{cursor:pointer}
.new-post-row div{
	border-left: 1px solid black;
	padding-left: 12px;
} .new-post-row:hover{
	background-color: #30BB6A;
}
.post-desc div{
	color: grey;
}
.overlay{
	position:absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:rgba(51,51,51,0.64);
	padding: 12px;
	
} .overlay p, .overlay h3{
	color: white;
	font-size: 1rem;
}
